@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");
@font-face {
  font-family: "stretch";
  src: url("./Fonts/stretch.otf");
}
* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: white;
}

body {
  color: white;
  min-height: 100vh;
}

.portfolio {
  font-family: "stretch";
  background-color: #202c39;
  padding: 1rem;
  padding-bottom: 7rem;
  min-height: 100vh;
  &-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    & > *:not(:first-child) {
      margin-left: 14%;
    }
    & > div:last-child {
      margin-left: 0;
      text-align: right;
      margin-left: 21%;
    }
  }
  &-down {
    display: flex;
    flex-direction: row;
    padding-top: 20%;
    align-items: flex-end;
    justify-content: space-between;
  }
  &-arrow {
    font-size: 5rem;
  }
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 0.8;
  text-shadow: 10px 10px 0 #252323;
}

@keyframes blink {
  0% {
    text-shadow: 0 0 10px #8338ec;
  }
  50% {
    text-shadow: 0 0 20px red;
  }
  100% {
    text-shadow: 0 0 10px #8338ec;
  }
}

.works {
  background: #f2d492;
  font-family: "Open sans";
  min-height: 100vh;
  &__name {
    margin-top: 2rem;
    font-size: 10rem;
    text-align: center;
  }
  &__flex {
    display: flex;
    flex-direction: row;
  }
  &__left {
    width: 30%;
  }
  &__middle {
    width: 40%;
  }
  &__right {
    width: 40%;
    img {
      max-height: 600px;
      margin: 15vh 2rem 20px -20%;
      border-radius: 0.5rem;
      box-shadow: 0 20px 10px rgba(0, 0, 0, 0.5);
    }
  }
  &__container {
    max-height: 400px;
  }
  &__left,
  &__right,
  &__middle {
    padding: 2rem 3rem 3rem;
    min-height: 100vh;
  }
  &__left,
  &__right {
    color: white;
    background: #283845;
  }
  &__smile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: skewY(-15deg);
    background-color: #003566;
    transition: 0.5s;
    padding: 1rem;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 40px;
      background-color: #023e8a;
      top: -40px;
      left: 0;
      transform-origin: bottom;
      transform: skewX(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 100%;
      background-color: #001d3d;
      top: 0;
      left: -40px;
      transform-origin: right;
      transform: skewY(45deg);
      transition: 0.5s;
    }
    &:hover {
      margin-top: 3rem;
      background-color: #bb3e03;
      &::before {
        background-color: #ae2012;
      }
      &::after {
        background-color: #ca6702;
      }
    }
  }
  &__img {
    transition: 2s;
    &:hover {
      filter: saturate(2.2);
      transform: scale(1.05);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 1.25rem;
  }
  &__text {
    font-size: 1rem;
    font-weight: 500;
  }
  &__behance {
    color: white;
    background: linear-gradient(to right, #03045e, #023e8a);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      filter: invert(100%);
    }
  }
  &__github {
    color: white;
    background: linear-gradient(to right, #421533, #312178);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      filter: invert(100%);
    }
  }

  &__button__flex {
    display: flex;
    flex-direction: row;
  }
}

.locate {
  background: #56a3a6;
  min-height: 100vh;
}
